<%#= image_tag @user.fb_image %>
<%#= @user.fb_name %>
<%#= @live_show.name %>
<%#= @user.description %>
<%#= @user.fb_name %>

<%# @live_shows.each do |l| %>
  <%#= l.name %>
  <%#= link_to "進入直播室", live_show_path(l) %>
<%# end %>
<script type="text/javascript">
function add() {
    var now = new Date();
    var div = document.getElementById('live_talk_word');
    div.scrollTop = div.scrollHeight;
}
$('.live_talk_word').css({
    "overflow-y": "hidden"
})
$(".live_talk_word").on("mouseenter mouseleave", function(event) {
    if (event.type == "mouseenter") {
        $(this).css({
            "overflow-y": "auto"
        }); //滑鼠進入
    }
});
window.onload = function() {
    add();
}
window.current_user_id = <%= current_user.id %>
window.live_show_id = <%= @live_show.id %>
</script>

<div class="container">
    <div class="channel_row">
        <div class="col-lg-12">
            <div class="live_top">
                <div class="live_top_top">
                    <div class="live_name">
                        <h4><%= @live_show.name %></h4>
                    </div>
                    <!--                     <div class="live_follow">追隨</div> -->
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" style="width:80%">
                        </div>
                    </div>
                    <!-- <div class="fb-video" data-href= "<%= @live_show.fb_url %>" data-width="650" data-height="400" data-show-text="false">
                          <blockquote cite="https://www.facebook.com/naruko.tw/videos/10154012016058862/" class="fb-xfbml-parse-ignore"></blockquote>
                      </div> -->
                    <div class="fb-video" data-width="650" data-height="400" data-show-text="false">

                     <iframe src="<%= @live_show.fb_url.try(:html_safe) %>" width="650" height="400" frameborder="0"></iframe>
                    </div>
                    <div class="live_talk">
                        <div class="show_navtab">
                            <ul class="nav nav-tabs">
                                <li><a data-toggle="tab" href="#qa">問問題</a></li>
                                <li><a data-toggle="tab" href="#tk">聊天室</a></li>
                            </ul>
                        </div>
                        <div id="qa" class="tab-pane fade in active">
                            <div id="live_talk_word" class="live_talk_word">
                                <table id="live_talk_table" class="table">
                                    <tr>
                                        <th>票數</th>
                                        <th>問題</th>
                                        <th>讚</th>
                                    </tr>
                                    <% @live_show.questions.all.order("id DESC").each do |m| %>
                                        <tr>
                                            <% if m.user_id == current_user.id %>
                                                <td></td>
                                                <td class="live_talk_r"> <img class='imggg2' src='<%=m.user.fb_image%>'>
                                                    <span><%= m.subject %></span>
                                                </td>
                                        </tr>
                                        <%else%>
                                            <tr>
                                                <td></td>
                                                <td class="live_talk_r"><img class='imggg2' src='<%=m.user.fb_image%>'>
                                                    <span><%= m.subject %></span>
                                                </td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                        <div id="tk" class="tab-pane fade">
                            <div id="talk_list"></div>
                        </div>
                        <div class="live_talk_submit">
                            <%= form_for [@live_show,@question], :remote => true do |f| %>
                                <input type="hidden" name="live_show" value="<%= @live_show.id %>">
                                <%= f.text_field :subject,:id => "cc", :class=>"cc" %>
                                    <%= f.submit "送出",:onclick => "add()"%>
                                        <% end %>
                        </div>

                    </div>
                </div>
                <br>
                <div class="live_bottom">
                    <div class="border_up">
                        <h3><%= @user.fb_name %> 的頻道</h3>
                    </div>
                    <div class="live_bottom_a">
                        <div class="live_pic">
                            <img src="http://s2.post01.com/uploads/c4/b/119050/14689381446338.jpg">
                        </div>
                        <div class="live_contant">
                            <%= @user.description %>
                        </div>
                    </div>
                    <div class="border_down">
                        <h3><%= @user.fb_name %> 的影片</h3>
                    </div>
                    <div class="live_bottom_b">
                    <%# @live_shows.each do |l| %>
                            <%#= l.name %>
                                <%#= link_to "進入直播室", live_show_path(l) %>
                                    <%# end %>
                        <div class="live_bottom_b_box">
                            <div class="live_bottom_b_item">
                                <img src="http://s2.post01.com/uploads/c4/b/119050/14689381446338.jpg">
                                <div class="live_bottom_b_words">
                                    <p>舉重訓練 Part 1</p>
                                    <p>直播時間:2016/10/5</p>
                                </div>
                            </div>
                            <div class="live_bottom_b_item">
                                <img src="http://s2.post01.com/uploads/c4/b/119050/14689381446338.jpg">
                                <div class="live_bottom_b_words">
                                    <p>舉重訓練 Part 2</p>
                                    <p>直播時間:2016/10/5</p>
                                </div>
                            </div>
                            <div class="live_bottom_b_item">
                                <img src="http://s2.post01.com/uploads/c4/b/119050/14689381446338.jpg">
                                <div class="live_bottom_b_words">
                                    <p>舉重訓練 Part 3</p>
                                    <p>直播時間:2016/10/5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%# @live_shows.each do |l| %>
                        <%#= l.name %>
                            <%#= link_to "進入直播室", live_show_path(l) %>
                                <%# end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=636280343220058";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>